@font-face {
    font-family: new;
    src: url();
}

*{
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color:#fff;
}
.main .nav{
   padding: 15px 20px;
}

.main a{
    text-decoration: none;
    color: #111;
    padding-left: 30px;
    font-weight: 700;
}

.main h1{
    font-size: 230px;
    font-weight: 200;
    padding-top: 30px;
    padding-left: 12px;

}


.leftbottom{
    width: 200px;
    height: 250px;
    margin-left: 40px;
    margin-top: 35px;
}
.leftbottom h2{
    font-size: 25px;
    font-weight:650;

}
.leftbottom p{
    padding-top: 7px;
}
.leftbottom h3{
    padding-top: 10px;
}
.leftbottom h4{
    padding-top:5px ;
}

.bottom {
    width: 100%;
    display: flex;
  justify-content: space-between;
    
}
.bottom h1{
    padding:20px 40px ;
    font-size: 20px;
   font-weight: 600;

}

.main .firstimg{
    top: 30%;
    left: 60%;
   position: absolute;
    height: 280px;
    width: 250px;
}
.main .secondimg{
      top: 45%;
    left: 48%;
    position: absolute;
    height: 250px;
    width: 200px;
}
.main .thirdimg{
    top: 35%;
    left: 35%;
    position: absolute;
    height: 250px;
    width: 200px;
}